<div class="modal fade" id="add-modal-form" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollableModalTitle">{{modal_raw.modal_h1}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <form method="post">{% csrf_token %}
                <div class="modal-body">
                    {% with form=modal_form %}
                        {% include 'basic_form.html' %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="{{modal_raw.modal_btn_name}}" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>